data/auth.csv
data/embeddings
data/facebook_auth*.csv
data/mined_tweets/
data/facebook-maria*
data/geonames_coords.tsv
data/*.txt
data/*.gz
data/ELMO/
data/LGL/
data/Google_cloud/
data/geo_files/
data/ELMO/
data/LGL/
data/Sep-20-17_tf.tsv
data/SemEval2018/
data/mturk_test/rootkey.csv
data/GoogleSheets/service_account_keys.json
data/WarOfTheRebellion
jacob-vae-lab/checkpoints*
jacob-vae-lab/__pycache__/
models/ConvRVAE
.ipynb_checkpoints/
bin/
etc
include/
lib/
lib64
pip-selfcheck.json
writings/*.out
writings/*.synctex.gz
writings/*.aux
writings/*.log
writings/*/*.out
writings/*/*.synctex.gz
writings/*/*.aux
writings/*/*.log
.DS_Store
*/.DS_Store
output/*
scripts/*.pyc
scripts/*/*.pyc
scripts/*/*/*.pyc
scripts/data_processing/stanford-ner-2017-06-09/
scripts/data_processing/neural_tagger/
scripts/data_processing/neural_tagger.zip
scripts/data_processing/twitter_nlp
scripts/data_processing/twitter_nlp_3
scripts/data_processing/TwitterNER
scripts/data_processing/GetOldTweets-python
scripts/data_processing/GetOldTweets
scripts/data_processing/TweeboParser
scripts/data_processing/twpipe
scripts/data_processing/gnu
scripts/data_processing/gsrc
scripts/data_processing/demographer
scripts/data_processing/*FB*.ipynb
scripts/models/*.txt
scripts/models/checkpoints/*
scripts/models/Causalinference/
scripts/models/vae_lab/checkpoints/*
scripts/models/vae_lab/*_checkpoints/*
scripts/models/vae_lab/scores/*
scripts/models/vae_lab/__pycache__/
scripts/models/vae_lab/*.png
topo_resolution/scripts/models/checkpoints/
topo_resolution/scripts/models/vae_lab/checkpoints/
topo_resolution/scripts/models/vae_lab/*checkpoints/
topo_resolution/scripts/models/vae_lab/scores/
topo_resolution/scripts/models/*.txt
topo_resolution/scripts/models/scores/
topo_resolution/jacob-vae-lab/checkpoints*/
topo_resolution/data/
topo_resolution/output/
share/
src/
vae-lab/checkpoints/
